<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/main.css">
    
    
    
    <title>Document</title> 
</head>




<body style="font-family:  sans-serif;
background: rgb(160,196,255);
background: linear-gradient(135deg, rgba(160,196,255,0.9643207624846813) 44%, rgba(26,180,212,1) 100%);">
    <nav class="navbar av justify-content-center navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">ABC HOSPITAL MANAGEMENT</span>
      </nav>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            


            <li class="nav-item dropdown">
              <div class="dropdown">
                <button class="dropbtn">PATIENT</button>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
              
            </li>



           
            <li class="nav-item dropdown">
              <div class="dropdown">
                <button class="dropbtn">DIAGONIST</button>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
              
            </li>

            
            <li class="nav-item dropdown">
              <div class="dropdown">
                <button class="dropbtn">PHARMACIST</button>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
              
            </li>

              


          </ul>
          <form class="form-inline my-2 my-lg-0">
            
        </div>
      </nav>
      <script src="static/bootstrap.js"></script>
     
    
</html>